:root {
    --darkGreen: #0b130a;
    /* --HeaderBGColor: #7f7dc0; */
    --neonGreen: #cbfbf1;
    --neonPink: #ff64bc;

    --selectedColor: #ffffff;

    --color4: #130a35;
    --lightFont: #e7f6ff;

    --BGColorPurp: #0a0814;
    --HeaderBGColorLavender: #7f7dc0;
    --color3EggplantPurple: #3a237c;
    --color4RoyalPurple: #130a35;
}

body {
    background-color: var(--darkGreen);
    margin: 0px;
    /* font-family: "Belleza", sans-serif ; */
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

p {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
    color: var(--lightFont);
    /* font-family: "Italiana", sans-serif; */
    font-weight: 400;
}

h2 {
    color: var(--lightFont);
    margin: 0px;
    /* font-family: "Italiana", sans-serif; */
    font-weight: 400;
}

h3 {
    margin: 0px;
    font-size: 1.4em;
    color: var(--lightFont);
    /* font-family: "Italiana", sans-serif; */
    font-weight: 400;
}

p {
    margin: 5px;
    padding: 0px;
    color: var(--lightFont);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.flex-row-left {
    justify-content: left;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: left;
    align-items: center;
}

.button-light {
    border: 2px solid var(--neonGreen);
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.button-light.selected {
    background-color: var(--neonGreen);
    color: var(--darkGreen);
    border: 2px solid var(--neonGreen);
}
.button-light.selected h3 {
    color: var(--darkGreen);
}

.nav {
    background-color: var(--color4);
    border-bottom: 2px solid var(--neonGreen);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px 10px;
}
.navList {
    padding: 5px;
    margin: 0px;
    display: flex;
    list-style: none;
    text-decoration: none;   
}

.navList li {
    padding: 0px min(2vw, 15px);
}

.navLoc {
    border-right: 2px solid var(--darkGreen);
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.light-font {
    color: var(--lightFont);
}

.darkFont {
    color: var(--darkGreen);
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: min(95vw, 2075px);
    padding: 25px;
}


.mutations-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 20px;
    gap: 10px;

}


.mutation-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 12px;
    border: 1px solid var(--neonGreen);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255,255,255,0.08);
}
.mutation-item.empty {
    height: 100px;

}
.mutation-item.selected {
    border: var(--darkGreen) solid 2px;
    background-color: var(--neonGreen);

}

.mutation-item-selectable {
    width: 350px;
}

.mutation-item.selected p, .mutation-item.selected h3 {
    color: var(--darkGreen);

}
.mutation-item:hover {
    border: 2px solid var(--neonGreen);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.08),
            0 0 2px rgba(255, 255, 255, 0.15); */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    transform: scale(1.02); 
}
.mutation-item.removed {
    border: 2px solid var(--neonPink);
}


.light-font-color {
    color: var(--neonGreen);
}   

.selected-mutation-generation-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.selected-mutation-generation.selected {
    border: 2px solid var(--neonGreen);
    background-color: var(--neonGreen);
}
.selected-mutation-generation.selected h3{
    color: var(--darkGreen);
}

.generation-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mutations-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.large-input {
    width: min(95vw, 800px );
}
.mutation-remove-btn {
    position: absolute;
    top: 6px;
    right: 8px;

    font-size: 24px;
    font-weight: bold;
    color: var(--neonGreen);

    cursor: pointer;

    padding: 2px 8px;
    border: 2px solid var(--neonGreen);
    border-radius: 4px;

    transition: all 0.15s ease;
}

.mutation-name-margin-adjustment {
    margin-right: 35px;
}